ul{
    list-style-type:none;
    background-color: #CCCCCC;
}

ul li{
    background-color: #6D7E8F;
    padding:10px 0 10px 25px;
    /* can also write: padding-top: 10px */
    margin: 25px;
    /* can also write: margin-top: 25px */
    border: 2px solid black;
}

a{
    color: rgb(88, 36, 209);
    text-decoration: none
}

a:visited{
    color: rgb(255, 0, 0);
    text-decoration: none
}

/*
*all elements - everything
. means class selector
nothing means tag selector
[]means attribute selector
#means id selector
: pseudo class selector
*/

/*
CSS examples...

p{
    display: inline-block;
}

p{
    visibility:hidden;
}

ul li:nth-child(3){
}

*{
    padding: 0px;
    margin: 0px;
}

.cool-beans > h1{
    display:flex;
}

[id]{
    display: block;
}

div:first-child{
    color:antiquewhite;
}
*/