.container div:nth-child(1){
    background-color: red;
    order: 2;
    /* height: 50px; */
}

.container div:nth-child(2){
    background-color: orange;
    order:4;
    /* height: 75px; */
}

.container div:nth-child(3){
    background-color: yellow;
    flex-grow: 2;
    /* height: 90px; */
}

.container div:nth-child(4){
    background-color: green;
    order:-1;
    /* height: 150px; */
}

.container div:nth-child(5){
    background-color: blue;
    flex-shrink: 2;
    /* height: 30px; */
}

.container div:nth-child(6){
    background-color: purple;
    /* height: 69px; */
}

.container div{
    width: 50px;
    padding: 50px;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
}

.container{
    height: 400; 
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: baseline; */
    align-content: flex-start;
}
