<div class="divs">
    <h2 class="header">Technologies Used</h2>
    <ol class="orderedList">
        <li>HTML5
            <ul class="unorderedList">
                <li>Web GL</li>
            </ul>
        </li>
        <li>CSS
            <ul>
            </ul>
        </li>
        <li>Typescript
            <ul>
            </ul>
        </li>
        <li>Frameworks/Libraries
            <ul class="unorderedList">
                <li>Phaser</li>
                <li>Angular</li>
            </ul>
        </li>
        <li>Node
            <ul class="unorderedList">
                <li>Node Server</li>
            </ul>
        </li>
        <li>Webserver
            <ul class="unorderedList">
                <li>Localhost</li>
            </ul>
        </li>
        <li>Fetching Data
            <ul>
            </ul>
        </li>
    </ol>
</div>