
.header{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
}
.orderedList{
    color: rgb(13, 9, 58);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}
.unorderedList{
    color: rgb(37, 28, 100);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.divs{
   background-color: rgb(117, 168, 212);
   flex: content;
   width: 985px;
   padding-left: 15px;
}